<div *ngIf="showNotification"
    class="fixed top-0 right-0 m-4 p-4 bg-blue-500 text-white rounded-lg shadow-lg max-w-sm w-full">
    <div class="bg-white text-black p-4 rounded-lg shadow-lg">
        <strong class="text-xl font-semibold">{{ notification.Message }}</strong>
        <div class="mt-2 text-sm">
            <p><span class="font-medium">Exam ID:</span> {{ notification.ExamId }}</p>
            <p><span class="font-medium">Submitted by Student:</span> {{ notification.StudentId }}</p>
            <p><span class="font-medium">Time:</span> {{ notification.SubmissionTime | date:'short' }}</p>
        </div>
    </div>
</div>