<div class="bg-blue-900 text-white min-h-screen flex justify-center items-center">
    <div
        class="bg-white text-blue-900 max-w-6xl p-10 rounded-lg shadow-2xl transform hover:scale-105 transition duration-300 grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="flex flex-col justify-center items-start items-center m-auto gap-5">
            <i class="fas fa-graduation-cap fa-5x text-blue-500 mb-6"></i>
            <h1 class="text-4xl font-bold mb-4">Welcome to our website!</h1>
            <p class="text-lg text-gray-600 mb-6 text-center ">
                Empowering students and educators with tools to simplify exams and enhance learning.
            </p>
            <div>
                <a href="/login"
                    class="bg-blue-500 text-white px-8 py-3 rounded-lg text-lg hover:bg-blue-700 transition duration-300 shadow-lg">
                    Login to Your Account
                </a>
                <a href="/register"
                    class="ml-4 bg-green-500 text-white px-8 py-3 rounded-lg text-lg hover:bg-green-700 transition duration-300 shadow-lg">
                    Register Now
                </a>
            </div>
        </div>

  
        <div class="flex flex-col justify-center">
            <h2 class="text-2xl font-bold mb-6 text-center md:text-left">We Here For You</h2>
            <ul class="space-y-8">
                <li class="flex items-start">
                    <i class="fas fa-book text-blue-500 text-3xl mr-4"></i>
                    <p class="text-lg text-gray-700">
                        <strong>Comprehensive Exams:</strong> Create and access diverse exams tailored to your goals.
                    </p>
                </li>
                <li class="flex items-start">
                    <i class="fas fa-chart-line text-green-500 text-3xl mr-4"></i>
                    <p class="text-lg text-gray-700">
                        <strong>Track Progress:</strong> Get detailed insights to improve your performance.
                    </p>
                </li>
                <li class="flex items-start">
                    <i class="fas fa-desktop text-purple-500 text-3xl mr-4"></i>
                    <p class="text-lg text-gray-700">
                        <strong>User-Friendly Interface:</strong> Enjoy a seamless and intuitive experience.
                    </p>
                </li>
                <li class="flex items-start">
                    <i class="fas fa-cogs text-yellow-500 text-3xl mr-4"></i>
                    <p class="text-lg text-gray-700">
                        <strong>Efficient Management:</strong> Simplify scheduling, grading, and feedback processes.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>